<footer class="bg-dark py-3 text-light text-center">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/script.js"></script>
    <div class="container">
        <h4>Done by <a href="https://www.github.com/just-mann" target="_blank">Justin Sando Kollie</a></h4>
    </div>
</footer>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script>
  AOS.init();
</script>
