<nav class="container-fluid shadow-lg sticky-top">
    <div class="container">
        <a href="/" class="logo"><h3>Book Library</h3></a>
        <div class="nav__links">
            <a href="/">Add New Book</a>
            <a href="/booklist">Book List</a>
            <a href="/contact">Contact</a>
            <div  menuIcon" id="menuIcon" onclick="show()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="resNav px-4 py-3">
        <div class="res__links">
            <a href="/" class="resHome">Add New Book</a>
            <a href="/booklist" class="resBkList">Book List</a>
            <a href="/contact" class="resContact">Contact</a>
            <div class="resEmptyDiv"></div>
        </div>
    </div>
</nav>
<script>
    console.log('js File Connected to Navbar...')
    const menuIcon = document.querySelector('#menuIcon');
    menuIcon.addEventListener('click', (e) => {
        console.log('It is working...')
    })
</script>