<nav class="container-fluid sticky-top">
    <div class="container">
        <a href="/" class="logo"><h3>Book Library App</h3></a>
        <div class="nav__links">
            <a href="/">Add New Book</a>
            <a href="/booklist">Book List</a>
            <a href="/contact">Contact</a>
        </div>
        <a href="https://icons8.com/icon/5snq4Eb31ITX/menu"></a>
    </div>
</nav>