<nav class="container-fluid sticky-top">
    <div class="container">
        <a href="/" class="logo"><h3>Book Library App</h3></a>
        <div class="nav__links">
            <a href="/">Add New Book</a>
            <a href="/booklist">Book List</a>
            <a href="/contact">Contact</a>
            <i class="fas fa-bars fa-2x menuIcon"></i>
        </div>
    </div>
    <div class="resNav px-4 py-5">
        <div class="res__links">
            <a href="/">Add New Book</a>
            <a href="/booklist">Book List</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
</nav>