<nav class="containe">
    <h3 class="logo">Book Library App</h3>
    <div class="nav__links">
        <a href="/">Home</a>
        <a href="/booklist">Book List</a>
        <a href="/contact">Contact</a>
    </div>
</nav>