<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/Header') %>
    <body>
        <%- include('./partials/Navbar') %>
        <div class="container">
            <h3>Book List</h3>
            <div class="container-fluid">
                <%= resul
            </div>
        </div>
        <%- include('./partials/Footer') %>
    </body>
</html>