<!DOCTYPE html>
<html lang="en">
<%- include('./partials/Header') %>
<body>
    <div class="container">
      <%- include('./partials/Navbar') %>
      <h3>Home Page</h3>
      <div class="container">
        <h</h>
      </div>
    </div>
    <%- include('./partials/Footer') %>
</body>
</html>