<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/Header') %>
    <body>
        <%- include('./partials/Navbar') %>
        <div class="container">
            <h4>My Book List</h4>
            <div class="container-fluid">
                <%= myList %>
            </div>
        </div>
        <%- include('./partials/Footer') %>
    </body>
</html>