<!DOCTYPE html>
<html lang="en">
<%- include('./partials/Header') %>
<body>
    <%- include('./partials/Navbar') %>
    <div class="container">
        <h3>Contact</h3>
    </div>
    <%- include('./partials/Footer') %>
</body>
</html>