<!DOCTYPE html>
<html lang="en">
<%- include('./partials/Header') %>
<body>
    <div class="container-fluid">
      <%- include('./partials/Navbar') %>
      <h3>Home Page</h3>
      <div class="container">
        <form action="">
          <div class="titleDiv">
            <input type="text" name="title" id="title" placeholder="Enter book title">
          </div>
          <div class="authorDiv">
            <input type="text" name="author" id="author" placeholder="Enter author">
          </div>
          <div class="readDiv">
            <input type="checkbox" name="isRead" id="isRead">
            Did you read?
          </div>
          <div class="buttonDiv">
            <button cla>Add Book</button>
          </div>
        </form>
      </div>
    </div>
    <%- include('./partials/Footer') %>
</body>
</html>