<!DOCTYPE html>
<html lang="en">
<%- include('./partials/Header') %>
<body>
    <div class="container-fluid">
      <%- include('./partials/Navbar') %>
      <h3>Home Page</h3>
      <div class="container">
        <form action="">
          <div>
            <input type="text" placeholder="Enter book title">
          </div>
          <div>
            <input type="text" placeholder="Enter author">
          </div>
          <div>
            <input type="checkbox" name="" id="">
          </div>
          <div>
            <button>Add Book</button>
          </div>
        </form>
      </div>
    </div>
    <%- include('./partials/Footer') %>
</body>
</html>