<!DOCTYPE html>
<html lang="en">
<%- include('./partials/Header') %>
<body>
    <%- include('./partials/Navbar') %>
      <div class="container py-5">
        <div class="w-50 p-5 px-0">
          <form action="/books" method="POST" class="p-5 px-0">
            <h4>Add Book</h4>
              <div class="my-3">
                <input class="px-3 py-2 title w-100" type="text" name="title" id="title" placeholder="Enter book title">
              </div>
              <div class="my-3">
                <input class="px-3 py-2 author w-100" type="text" name="author" id="author" placeholder="Enter author">
              </div>
              <div class="my-3">
                <label for="isRead" class="mr-2">Did you read?</label>
                <input class="px-3 py-2 isRead" type="checkbox" name="isRead" id="isRead">
              </div>
              <div class="my-3">
                <input class="btn-succes px-3 py-1 submitBtn" type="submit" value="Add Book">
              </div>
          </form>
        </div>
      </div>
    <%- include('./partials/Footer') %>
</body>
</html>