<!DOCTYPE html>
<html lang="en">
<%- include('./partials/Header') %>
<body>
    <%- include('./partials/Navbar') %>
      <div class="container py-2 home">
        <div class="p-2 p-xs-1 p-sm-1 p-md-1 py-2 px-0 mt-5 homeDiv">
          <form action="/books" method="POST" class="px-0">
            <h4>Add New Book</h4>
              <div class="my-3">
                <input class="px-3 py-2 title w-100" type="text" name="title" id="title" placeholder="Enter book title" required>
              </div>
              <div class="my-3">
                <input class="px-3 py-2 author w-100" type="text" name="author" id="author" placeholder="Enter author" required>
              </div>
              <div class="my-3">
                <label for="isRead" class="mr-2">Did you read?</label>
                <input class="px-3 py-2 isRead" type="checkbox" name="isRead" id="isRead">
              </div>
              <div class="my-3">
                <textarea class="px-3 py-2 isRead w-100" name="summary" id="summary" cols="30" rows="7" placeholder="Write a summary of this book" required></textarea>
              </div>
              <div class="my-3">
                <input class="px-3 py-2 submitBtn" type="submit" value="Add Book">
              </div>
          </form>
        </div>
      </div>
    <%- include('./partials/Footer') %>
</body>
</html>