* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    min-height: 70vh;
}

a {
    text-decoration: none;
}

nav {
    background-color: #114f74;
    padding: 10px 0px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container .logo h3 {
    color: #ffffff;
    font-weight: 350;
}

nav .container .nav__links {
    color: #ffffff;
}

nav .container .nav__links a {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 10px 0px;
    margin: 0px 10px;
    font-weight: 300;
}

.nav__links a:hover {
    color: red;
}

.listDiv {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
}

.list {
    max-width: 350px;
    min-height: 150px;
    margin: 0px 15px;
    background-color: #e2e2e2;
    border-left: 15px solid #41a1b9;
    opacity: 0.9;
    transition: opacity 0.6s;
}

.list:hover {
    opacity: 1;
}


/* details page */
.bookSummary {
    max-width: 1100px;
    background: yellow;
}



/* Contact Page */
.contact {
    height: 85vh;
}